<h3>User</h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->


<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="User.startInserting()" ng-hide="User.inserting || User.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="User" entity="api/cronapi/crud/app.entity.User" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-User">
    <div crn-datasource="User" class="" ng-hide="User.editing || User.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Email</div>
                </th>
                <th class="">
                    <div class="">Nome</div>
                </th>
                <th class="">
                    <div class="">Id</div>
                </th>
                <th class="">
                    <div class="">Login</div>
                </th>
                <th class="">
                    <div class="">Imagem</div>
                </th>
                <th class="">
                    <div class="">Senha</div>
                </th>
                <th class="">
                    <div class="">Tema</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.email  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.name  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.id  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.login  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                    <button ng-if="rowData.picture" class="btn btn-sm" ng-click="cronapi.internal.downloadFileEntity(datasource, 'picture', $index)">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </button>
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.password  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.theme  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-User">
    <div class="form" ng-show="User.editing || User.inserting">
        <form crn-datasource="User" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br/>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-email" class="">
                    <div class="form-group">
                        <label for="textinput-email" class="">Email</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="User.active.email"
                                            class="form-control"
                                            id="textinput-email"
                                            placeholder="Email"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-name" class="">
                    <div class="form-group">
                        <label for="textinput-name" class="">Nome</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="User.active.name"
                                            class="form-control"
                                            id="textinput-name"
                                            placeholder="Nome"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-login" class="">
                    <div class="form-group">
                        <label for="textinput-login" class="">Login</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="User.active.login"
                                            class="form-control"
                                            id="textinput-login"
                                            placeholder="Login"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-dynamic-file" id="crn-textinput-picture" class="">
                    <div class="form-group">
                        <label for="textinput-picture" class="">Imagem</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <div dynamic-file ng-model="User.active.picture" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                                  {{"template.crud.clickOrDragAnFile" | translate}}
                                </div>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-password" class="">
                    <div class="form-group">
                        <label for="textinput-password" class="">Senha</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="password"
                                            ng-model="User.active.password"
                                            class="form-control"
                                            id="textinput-password"
                                            placeholder="Senha"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="true">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-theme" class="">
                    <div class="form-group">
                        <label for="textinput-theme" class="">Tema</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input
                                            type="text"
                                            ng-model="User.active.theme"
                                            class="form-control"
                                            id="textinput-theme"
                                            placeholder="Tema"
                                            mask=""
                                            mask-placeholder=""
                                            ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!--query filter 1toN -->
                <!-- query filter 1toN end-->
                <datasource filter="" name="RoleGrid" enabled="{{User.editing || User.inserting}}" entity="api/cronapi/crud/app.entity.User/{{User.active.id}}/relation:user:Role" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="User" dependent-lazy-post-field="user"></datasource>
                <div data-component="crn-button" class="">
                    <button class="btn btn-primary" onclick="$('#modalRoleGrid').modal('show');" data-component="crn-button" ng-click="RoleGrid.startInserting();"><i class="fa fa-plus"></i> <span class="">{{"Add" | translate}} Role</span> </button>
                </div>
                <!--search 1toN-->
                <!-- seach 1toN end-->
                <div data-component="crn-textinput" id="crn-textinput-descricao">
                    <div class="form-group">
                        <label for="textinput-descricao" class="">Role</label>
                        <div class="component-holder" data-component="crn-grid" id="crn-grid-RoleGrid">
                            <div crn-datasource="RoleGrid">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr class="table-header">
                                                <th class="">
                                                    <div class="">
                                                        Id
                                                    </div>
                                                </th>
                                        <th class="">
                                            <div class="">
                                                {{"template.crud.actions" | translate}}
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                                                <td>
                                                    <div>
                                                            {{rowData.id }}
                                                    </div>
                                                </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.startEditing(rowData)" onclick="$('#modalRoleGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer-controls">
                                    <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--query filter 1toN -->
                <!-- query filter 1toN end-->
                <datasource filter="" name="CarroGrid" enabled="{{User.editing || User.inserting}}" entity="api/cronapi/crud/app.entity.User/{{User.active.id}}/relation:user:Carro" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="User" dependent-lazy-post-field="user"></datasource>
                <div data-component="crn-button" class="">
                    <button class="btn btn-primary" onclick="$('#modalCarroGrid').modal('show');" data-component="crn-button" ng-click="CarroGrid.startInserting();"><i class="fa fa-plus"></i> <span class="">{{"Add" | translate}} Carro</span> </button>
                </div>
                <!--search 1toN-->
                <!-- seach 1toN end-->
                <div data-component="crn-textinput" id="crn-textinput-descricao">
                    <div class="form-group">
                        <label for="textinput-descricao" class="">Carro</label>
                        <div class="component-holder" data-component="crn-grid" id="crn-grid-CarroGrid">
                            <div crn-datasource="CarroGrid">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr class="table-header">
                                                <th class="">
                                                    <div class="">
                                                        Placa
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Marca
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Modelo
                                                    </div>
                                                </th>
                                                <th class="">
                                                    <div class="">
                                                        Ano
                                                    </div>
                                                </th>
                                        <th class="">
                                            <div class="">
                                                {{"template.crud.actions" | translate}}
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                                                <td>
                                                    <div>
                                                            {{rowData.placa | mask:'AAA-9999'}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.marca }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.modelo }}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                            {{rowData.ano }}
                                                    </div>
                                                </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.startEditing(rowData)" onclick="$('#modalCarroGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-default btn-sm" data-component="crn-button" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer-controls">
                                    <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<div class="modal fade" id="modalRoleGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Role</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-sm row">
<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-id" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-id">Id</label>
                                                <input type="text"
                                                       ng-model="RoleGrid.active.id" class="form-control"
                                                       id="textinput-id"
                                                       placeholder="Id"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="true">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-component="crn-button" ng-click="RoleGrid.post();" onclick="(!RoleGrid.missingRequiredField()?$('#modalRoleGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                    <button type="button" class="btn btn-default" data-component="crn-button" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCarroGrid">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Carro</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-sm row">
<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-placa" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-placa">Placa</label>
                                                <input type="text"
                                                       ng-model="CarroGrid.active.placa" class="form-control"
                                                       id="textinput-placa"
                                                       placeholder="Placa"
                                                       mask="AAA-9999"
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-marca" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-marca">Marca</label>
                                                <input type="text"
                                                       ng-model="CarroGrid.active.marca" class="form-control"
                                                       id="textinput-marca"
                                                       placeholder="Marca"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-modelo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-modelo">Modelo</label>
                                                <input type="text"
                                                       ng-model="CarroGrid.active.modelo" class="form-control"
                                                       id="textinput-modelo"
                                                       placeholder="Modelo"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->

                                    <div data-component="crn-textinput"  id="crn-textinput-ano" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="textinput-ano">Ano</label>
                                                <input type="integer"
                                                       ng-model="CarroGrid.active.ano" class="form-control"
                                                       id="textinput-ano"
                                                       placeholder="Ano"
                                                       mask=""
                                                       mask-placeholder=""
                                                    ng-required="false">
                                        </div>
                                    </div>
                             <!-- end if !model.hasCronappFramework() -->

<!-- else of !model.hasCronappFramework() -->
                             <!-- end if !model.hasCronappFramework() -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-component="crn-button" ng-click="CarroGrid.post();" onclick="(!CarroGrid.missingRequiredField()?$('#modalCarroGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                    <button type="button" class="btn btn-default" data-component="crn-button" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- OneToOne modal end-->
